﻿<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>URL Shortener Microservice</title><!--Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="URL Shortener Microservice" />
    <meta name="author" content="Rafase282" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="container-fluid">
        <h1 class="header">Zixiang FCC Certification API: URL Shortener Microservice</h1><blockquote><p>User stories:</p><ul><li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul></li><li>When I visit that shortened URL, it will redirect me to my original link.</ul></li></ul></blockquote><h3>Example creation usage:</h3><code>http://zx-fcc-urlshortener.azurewebsites.net/new?url=https://www.google.com</code><br /><code>http://zx-fcc-urlshortener.azurewebsites.net/new?url=http://yahoo.com.sg</code><h3>Example creation output</h3><code>
            {
            "original_url":"http://google.com.sg",
            "short_url":"http://zx-fcc-urlshortener.azurewebsites.net/cs3E1"
            }
        </code><h3>Usage:</h3><code>http://zx-fcc-urlshortener.azurewebsites.net/cs3E1</code><h3>Will redirect to:</h3><code>http://google.com.sg</code>
        <h4>Note: Please include protocol in url when shortening, such as http:// and https://</h4>
    </div>
</body>
</html>